body {
    padding-top: 60px;
    padding-bottom: 40px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}
/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr {
    margin: 60px 0 20px 0;
}
.masthead {
    margin: 40px 0;
}
