{% extends "mbsd/index.html" %}

{% block extra-javascript %}
{% endblock %}

{% block content %}
<div style="text-align: center;">
<img src="{{ STATIC_URL }}/images/oldtv.jpg" />
<h2>page not found</h2>
</div>
{% endblock %}

